.chat__messages-container {
    margin-top: 0px;
    display: flex;
    height: 570px;
    flex-direction: column;
    overflow-y: auto;
    width: 98%;
    margin-left: 13px;
    /* background-color: white; */
}

.chat__bot-message-container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row; /* Ensure bot messages are displayed in a row */
    width: 91%;
    margin: 10px 0 30px 20px;
    border-radius: 14px;
}

.chat__user-message-container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row; /* Ensure user messages are displayed in a row */
    width: 91%;
    margin: 10px 0px 30px 80px;
    border-radius: 14px;
    align-self: flex-end; /* Align user messages to the right */
}

.chat__bot-icon {
    width: 35px;
    height: 35px;
    margin: 3px 16px 0px 10px;
    transform: scaleX(-1);

}

.chat__user-icon {
    width: 30px;
    height: 30px;
    margin: 6px 21px 0px 10px;
}

.chat__bot-message-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px;
    background: #e2f5ff;
    /* linear-gradient(90deg, rgba(15, 124, 240, 0.937255) 0%, rgba(62, 195, 254, 0.937255) 100%); */
    border-radius: 17px;
    font-size: 0.94rem;
    white-space: pre-wrap;
}

.chat__user-message-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 18px;
    background: #efefef;
    border-radius: 17px;
    font-size: 0.94rem;
    white-space: pre-wrap;
}

.chat__input-box {
    display: flex;
    align-items: center;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px;
    margin-left:11px;
    margin-top:15px
    /* background-color: pink; */
}

.chat__input {
    flex: 1;
    border: none;
    padding: 0 0 0 20px;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
}

.chat__input_button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background-image: url('./../img/up-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}

input:focus {
    outline: none;
}


.chat__input_button:focus {
    outline: none;
}

.chat__input_button:hover {
    opacity: 0.8;
}

.chat__bookmark_button{
    border: none;
}



.chat__delete-button {
    width: 100px;
margin-left: 12px;
    background-color:#0eb2ff;
    color: white;
    border: none;
    border-radius: 5px;
    /* margin-right: 10px; */
    margin-top: 12px; /* 버튼의 위쪽 여백 추가 */
    cursor: pointer;
    padding: 5px;
  }

.no_history_image {
    width: 300px;
    height: 300px;
    margin: auto; /* 이미지가 수평으로 가운데에 오도록 설정 */
    opacity: 1;
  }
  
  .chat__no-messages {
    display: flex;
    flex-direction: column; /* 이미지와 버튼을 세로로 배치 */
    justify-content: center;
    align-items: center;
    height: 100%; /* 컨테이너의 높이를 100%로 설정 */
  }
