.register__container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.register-left {
  width: 55vw;
  height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 0%, #dce5fd 58%, #2845ed 100%);
}

.register-right {
  width: 45vw;
  height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font {
  font-family: 'Poppins';
  font-style: normal;
}

.register-right__text-box {
  display: inline-block;
  text-align: center;
  height: 160px;
  margin: 35px 0 0 0;
}

.register-right__text-box02 {
  display: inline-block;
  text-align: center;
  margin: 0px 0 20px 0;
}

.register-right__k-rebot {
  font-weight: bold;
  font-size: 60px;
  line-height: 100%;
  color: black;
}


.register-right__hello {
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
}

.register-right__input-box {
  box-sizing: border-box;

  width: 290px;
  height: 55px;
  margin-bottom: 15px;

  background: #F7F8F9;
  border: 1px solid #E8ECF4;
  border-radius: 6px;

  font-weight: 500;
  font-size: 15px;
  line-height: 125%;
  padding-left: 15px;
  color: #8391A1;
}

.register-right__button {
  width: 290px;
  height: 63px;
  border-radius: 6px;

  font-weight: 600;
  font-size: 17px;
  line-height: 38px;
  margin-top: 30px;
  color: white;
  background-color: black;
  border: none;

}

option {
  background: #E2DFFF;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-right__error-message {
  margin-top: 0;
  margin-bottom: 20;
  color: rgb(211, 53, 53);
}